@use "sass:list";
@use "sass:math";
@import "normalize";
@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}
::selection {
	background-color: $accent;
	color: $white;
}
:focus-visible {
	outline-offset: 0;
	outline: none;
}
:root {
	font-size: $base_size;
}

body {
	font-size: 1.4rem;
	background-color: $paleBlue;
	color: $darcBlue;
	font-family: $redHatDisplay-Medium;
	overflow-x: hidden;
	margin: 0;
}
h1 {
	font-family: $redHatDisplay-Black;
	font-weight: 900;
}
.display {
	font-family: $redHatDisplay-Bold;
	font-weight: 700;
}
p {
	font-size: 16px;
}
a {
	color: $brightBlue;
	font-weight: bold;
}
span {
	display: block;
}
button {
	font-family: $redHatDisplay-Bold;
	font-weight: 700;
}
.grid {
	display: grid;
}
.flex {
	display: flex;
}
.container {
	flex-direction: column;
	align-items: center;
}
.wrapper {
	width: 45rem;
	height: 70rem;
	
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.card {
	border: 1px solid transparent;
	border-radius: 1rem;
	height: 100%;
	width: 100%;
	align-items: center;
	flex-direction: column;
	background-color: $white;
	&-head {
		overflow: hidden;
		img {
			border-start-start-radius: 1rem;
			border-start-end-radius: 1rem;
		}
	}
	&-title {
		text-align: center;
		padding: 5rem 0;
		h1 {
			padding-bottom: 2rem;
		}
		p {
			line-height: 1.6;
			padding: 0 6rem;
			color: $desaturatedBlue;
		}
	}
	&-navigatin {
		width: 100%;
		.card-buttons {
			margin: 0 6rem;
			flex-direction: column;
			padding-top: 5rem;
			.btn {
				padding: 1rem 0;
				border-radius: 1rem;
				background-color: $brightBlue;
				color: $white;
				border-color: transparent;
				box-shadow: 0px 4px 15px -5px $brightBlue;
			}
			.cancel {
				margin-top: 2rem;
				border: none;
				outline: none;
				box-shadow: none;
				background-color: transparent;
				padding: 0;
				color: $desaturatedBlue;
			}
		}
		.item {
			align-items: center;
			justify-content: space-evenly;
			background-color: $veryPaleBlue;
			margin: 0 6rem;
			padding: 2rem 0;
			border-radius: 1rem;
			&-info {
				margin-right: 7rem;
				.price {
					color: $desaturatedBlue;
					padding-top: 0.7rem;
				}
			}
		}
	}
}
@import "media";
